.heading_content {
    margin-bottom: 60px;
}
.heading_content h1 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.008em;
    color: #000000;
}
.heading_content p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.008em;
    color: #000000;
}
.child__content p {
    margin-bottom: 20px;
    line-height: 30px;
}
.child__content p a {
    color: #EE2233;
    font-weight: bold;
    margin-left: 5px;
}
.child__content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.child__content p a:hover {
    text-decoration: underline;
}