.post__banner img {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 5px;
    object-fit: cover;
    max-height: 350px;
}
@media  (max-width: 767px) {
    .post__banner img {
        max-height: 250px !important;
    }
}